<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="Shortcut icon" href="../../../../static/img/favicon.ico"  />
    <title>Dodawanie organizatora | Cavalli</title>

    <script type="text/javascript" th:src="@{/lib/jquery-3.1.1.js}" src="../../../../static/lib/jquery-3.1.1.js"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap.js}" src="../../../../static/lib/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}" src="../../../../static/js/app.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#organizer")[0].reset();
        });
    </script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../../../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../../static/css/style.css" type="text/css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
<div th:replace="decorator/indexHeader :: background"></div>
<div id="main">
    <div th:replace="decorator/adminHeader :: Header"></div>

    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <h1 class="naglowek"><span class="label label-default">Dodawanie organizatora</span></h1>
            <div class="panel panel-default" id="organizerAdd">
                <div class="panel-body">
                    <form role="form" id="organizer">
                        <div class="form-group">
                            <label for="name">Nazwa ośrodka</label>&nbsp;
                            <abbr title="Nazwa może składać się tylko z liter, może zawierać polskie znaki i musi zaczynać się dużą literą"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(1);" class="form-control"
                                   id="name"
                                   placeholder="Wpisz nazwę ośrodka" required/>
                            <div class="alert alert-danger" id="divStableName" style="visibility: hidden">Niepoprawny
                                format nazwy ośrodka
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city">Miejscowość</label>&nbsp;
                            <abbr title="Miejscowość może składać się tylko z liter, może zawierać polskie znaki i musi zaczynać się dużą literą"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(2);" class="form-control" id="city"
                                   placeholder="Wpisz miejscowość" required/>
                            <div class="alert alert-danger" id="divCity" style="visibility: hidden">Niepoprawny
                                format nazwy
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="owner">Właściciel</label>&nbsp;
                            <abbr title="Imię i nazwisko może składać się tylko z liter i może zawierać polskie znaki"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(3);" class="form-control"
                                   id="owner"
                                   placeholder="Wpisz imię i nazwisko" required/>
                            <div class="alert alert-danger" id="divOwner" style="visibility: hidden">Niepoprawny
                                format imienia i nazwiska
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nip">NIP</label>&nbsp;
                            <abbr title="NIP może składać się tylko z cyfr"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(4);" class="form-control" id="nip"
                                   placeholder="XXX-XXX-XX-XX" required/>
                            <div class="alert alert-danger" id="divNip" style="visibility: hidden">Niepoprawny format
                                numeru NIP
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="manager">Kierownik ośrodka</label>&nbsp;
                            <abbr title="Imię i nazwisko może składać się tylko z liter i może zawierać polskie znaki"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(5);" class="form-control"
                                   id="manager"
                                   placeholder="Wpisz imię i nazwisko" required/>
                            <div class="alert alert-danger" id="divManager" style="visibility: hidden">Niepoprawny
                                format
                                imienia i nazwiska
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sportClub">Działający klub sportowy</label>&nbsp;
                            <abbr title="Nazwa może składać się tylko z liter i może zawierać polskie znaki"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(6);" class="form-control" id="sportClub"
                                   placeholder="Wpisz nazwę klubu"/>
                            <div class="alert alert-danger" id="divSportClub" style="visibility: hidden">Niepoprawny
                                format
                                nazwy klubu
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefon</label>&nbsp;
                            <abbr title="Telefon może składać się tylko z liczb"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return organizerValidate(7);" class="form-control" id="phone"
                                   placeholder="0XX-XXX-XX-XX" required/>
                            <div class="alert alert-danger" id="divPhone" style="visibility: hidden">Niepoprawny format
                                telefonu
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail">E-mail</label>&nbsp;
                            <input type="email" class="form-control" id="mail"
                                   placeholder="Wpisz e-mail" required/>
                        </div>
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-pencil" aria-hidden="true"></i>&nbspRejestruj
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>