<!DOCTYPE html>
<html lang="en" ng-app='myApp' xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="Shortcut icon" th:href="@{/img/favicon.ico}" href="../../../static/img/favicon.ico"/>
    <title>Rejestracja konia | Cavalli</title>
    <script type="text/javascript" th:src="@{/lib/jquery-3.1.1.js}" src="../../../static/lib/jquery-3.1.1.js"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap.js}" src="../../../static/lib/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/lib/angular.js}" src="../../../static/lib/angular.js"></script>
    <script type="text/javascript" th:src="@{/lib/angular-route.min.js}" src="../../../static/lib/angular-route.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui-i18n.min.js}" src="../../../static/lib/jquery-ui-i18n.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}" src="../../../static/js/app.js"></script>
    <script type="text/javascript" th:src="@{/js/angApp.js}" src="../../../static/js/angApp.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#horse")[0].reset();
            $.datepicker.setDefaults($.datepicker.regional['pl']);
            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css" type="text/css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



</head>
<body ng-controller="Controller">
<div th:replace="decorator/indexHeader :: background"></div>
<div id="main">
    <div th:replace="decorator/riderHeader :: header"></div>

    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <h1 class="naglowek"><span class="label label-default">Rejestracja konia na zawody</span></h1>
            <div class="panel panel-default" id="horsePanel">
                <div class="panel-body">
                    <form role="form" id="horse">
                        <div class="form-group">
                            <label>Które zawody?</label><br/>
                            <select class="form-control" required>
                                <option>Wybierz...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Który koń?</label><br/>
                            <select class="form-control" required>
                                <option>Wybierz...</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-pencil" aria-hidden="true"></i>&nbspRejestruj
                        </button>
                        <a id="addNewHorse" class="btn btn-default" href="#/addHorses"
                           ng-click="getMyRepo('https://api.github.com/users/x-formation/repos')"><i class="fa fa-plus"
                                                                                                     aria-hidden="true"></i>&nbspDodaj
                            nowego konia</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <div ng-view></div>
        </div>
    </div>
</div>
</body>
</html>