<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="Shortcut icon" th:href="@{/img/favicon.ico}" href="../../../static/img/favicon.ico"/>
    <title>Edycja danych zawodnika | Cavalli</title>

    <script type="text/javascript" th:src="@{/lib/jquery-3.1.1.js}" src="../../../static/lib/jquery-3.1.1.js"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap.js}" src="../../../static/lib/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}" src="../../../static/js/app.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#rider")[0].reset();
        });
    </script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css" type="text/css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div th:replace="decorator/indexHeader :: background"></div>
<div id="main">
    <div th:replace="decorator/riderHeader :: header"></div>

    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <h1 class="naglowek"><span class="label label-default">Edycja danych zawodnika</span></h1>
            <div class="panel panel-default" id="horsePanel">
                <div class="panel-body">
                    <form role="form" id="rider">
                        <div class="form-group">
                            <label for="lastNameInput">Nazwisko</label>&nbsp;
                            <abbr title="Nazwisko może składać się tylko z liter, może zawierać polskie znaki i musi zaczynać się dużą literą"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return registerValidate(2);" class="form-control"
                                   id="lastNameInput"
                                   placeholder="Wpisz nazwisko">
                            <div class="alert alert-danger" id="divLastName" style="visibility: hidden">Niepoprawny
                                format
                                nazwiska
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailInput">E-mail</label>
                            <input type="email" class="form-control" id="mailInput" placeholder="Wpisz e-mail" required>
                        </div>
                        <div class="form-group">
                            <label for="phoneInput">Telefon</label>
                            <input type="text" onblur="return registerValidate(3);" class="form-control" id="phoneInput"
                                   placeholder="XXX-XXX-XXX">
                            <div class="alert alert-danger" id="divPhone" style="visibility: hidden">Niepoprawny format
                                telefonu
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPassInput">Nowe hasło</label>&nbsp;
                            <abbr title="Hasło może zawierać duże i małe litery, cyfry oraz znaki specjalne"><i
                                    class="fa fa-question-circle fa-lg"
                                    aria-hidden="true"></i></abbr>
                            <input type="password" class="form-control" id="newPassInput"
                                   placeholder="Podaj nowe hasło">
                        </div>
                        <div class="form-group">
                            <label for="repeatPassInput">Powtórz nowe hasło</label>
                            <input type="password" onblur="return registerValidate(5);" class="form-control"
                                   id="repeatPassInput" placeholder="Powtórz nowe hasło">
                            <div class="alert alert-danger" id="divRepeatPass" style="visibility: hidden">Niezgodność
                                haseł
                            </div>
                        </div>
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-pencil" aria-hidden="true"></i>&nbspEdytuj
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>