<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="Shortcut icon" th:href="@{/img/favicon.ico}" href="../../../static/img/favicon.ico"/>
    <title>Edycja zawodów | Cavalli</title>

    <script type="text/javascript" th:src="@{/lib/jquery-3.1.1.js}" src="../../../static/lib/jquery-3.1.1.js"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap.js}" src="../../../static/lib/bootstrap.js"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui-i18n.min.js}" src="../../../static/lib/jquery-ui-i18n.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}" src="../../../static/js/app.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#competitionEdit")[0].reset();
        });
    </script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css" type="text/css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div th:replace="decorator/indexHeader :: background"></div>
<div id="main">
    <div th:replace="decorator/organizerHeader :: header"></div>

    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <h1 class="naglowek"><span class="label label-default">Edycja danych o zawodach</span></h1>
            <div class="panel panel-default" id="horsePanel">
                <div class="panel-body">
                    <form role="form" id="competitionEdit">
                        <div class="form-group">
                            <label>Data</label>&nbsp;
                            <abbr title="Wybierz datę za pomocą kalendarza"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <div class="input-group input-daterange">
                                <input type="text" class="input-sm form-control datepicker" name="start"
                                       id="dateStart"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="input-group-addon">do</span>
                                <input type="text" onblur="return competitionValidate(1);"
                                       class="input-sm form-control datepicker" name="end" id="dateEnd"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="alert alert-danger" id="divDate" style="visibility: hidden">Niepoprawna data
                                zakończenia
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="managerTrack">Gospodarz toru</label>&nbsp;
                            <abbr title="Imię i nazwisko może składać się tylko z liter i może zawierać polskie znaki"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return competitionValidate(2);" class="form-control"
                                   id="managerTrack"
                                   placeholder="Wpisz imię i nazwisko">
                            <div class="alert alert-danger" id="divManagerTrack" style="visibility: hidden">Niepoprawny
                                format
                                imienia i nazwiska
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="manager">Kierownik zawodów</label>&nbsp;
                            <abbr title="Imię i nazwisko może składać się tylko z liter i może zawierać polskie znaki"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return competitionValidate(3);" class="form-control" id="manager"
                                   placeholder="Wpisz imię i nazwisko">
                            <div class="alert alert-danger" id="divManager" style="visibility: hidden">Niepoprawny
                                format
                                imienia i nazwiska
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="placeSize">Rozmiar placu konkursowego [m x m]</label>&nbsp;
                            <abbr title="Rozmiar może być wyrażony jedynie za pomocą liczby [w metrach] zapisany na podstawie podanego wzoru"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return competitionValidate(4);" class="form-control"
                                   id="placeSize"
                                   placeholder="Szerokość x Długość">
                            <div class="alert alert-danger" id="divPlaceSize" style="visibility: hidden">Niepoprawny
                                format
                                rozmiaru
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="warmUpSize">Rozmiar rozprężalni [m x m]</label>&nbsp;
                            <abbr title="Rozmiar może być wyrażony jedynie za pomocą liczby [w metrach] zapisany na podstawie podanego wzoru"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return competitionValidate(5);" class="form-control"
                                   id="warmUpSize"
                                   placeholder="Szerokość x Długość">
                            <div class="alert alert-danger" id="divWarmUp" style="visibility: hidden">Niepoprawny format
                                rozmiaru
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ground">Podłoże</label>&nbsp;
                            <abbr title="Nazwa podłoża może składać się tylko z liter i może zawierać polskie znaki"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return competitionValidate(6);" class="form-control" id="ground"
                                   placeholder="Wpisz podłoże">
                            <div class="alert alert-danger" id="divGround" style="visibility: hidden">Niepoprawny format
                                nazwy podłoża
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Wpisowe [zł]</label>&nbsp;
                            <abbr title="Wpisowe może składać się tylko z liczb"><i
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></i></abbr>
                            <input type="text" onblur="return competitionValidate(7);" class="form-control" id="price"
                                   placeholder="Wpisz kwotę wpisowego">
                            <div class="alert alert-danger" id="divPrice" style="visibility: hidden">Niepoprawny format
                                kwoty wpisowego
                            </div>
                        </div>
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-pencil" aria-hidden="true"></i>&nbspRejestruj
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>